.signup {
    width: 50%;
    margin: 0 auto;
}

.signup .lander {
    padding: 300px 0;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  .signup .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }


